# ==================================
# 1. Env and Secrets
# ==================================
.env
.env.local


# ==================================
# 2. pychache
# ==================================
__pycache__/


# ==================================
# 3. Jupyter Notebook Files
# ==================================
.ipynb_checkpoints/
*.ipynb

# ==================================
# 4. Logs
# ==================================
logs/